.b {
  margin-top: 80px;
  background-image: url(../../assets/banner.png);
  padding-bottom: 192px;
}
.b1 p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 128px;
}
.b1 h1 {
  /* Display */
  color: rgb(255, 255, 255);
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  max-width: 803px;
  margin-top: 24px;
}
.b1 h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.b2 {
  color: rgb(255, 208, 80);
}
.b1 h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
  max-width: 596px;
}
.b1 button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px 48px;
  cursor: pointer;
  border-style: none;
  color: rgb(35, 37, 54);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  background: rgb(255, 208, 80);
  margin-top: 48px;
}
